:root {
  color-scheme: dark;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(circle at top, #1f2937 0, #020617 55%);
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

